/* Box sizing rules */

:root {
  
  --bg-color: aliceblue;

  
  --primary-100: #212529;
  --primary-200: #e0e0e0;
  --primary-300: #6c757d;

  --neutral-200: #09229c;
  --neutral-400: #007bff;
  --neutral-450: #138496;
  --neutral-300: #117a8b;
  --neutral-500: #17a2b8;

  --fw-bold: 500;
  --fw-xbold: 700


}


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


body {
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1em;
}

/* Header */
header {
  width: 100%;
  background-color: #007bff;
  padding: .5em;
  margin-bottom: 1em;
}

.header-content {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  gap: 1em;
}

.header-icon {
  path {
    color: aliceblue;
  }
}

/* General form */

.form-wrapper form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2em;
}

form input,
form input[type="date"],
form select {
  display: flex;
  flex-direction: row;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid var(--neutral-400);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-right: 5em;
  margin-bottom: 3em;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  background-color: var(--neutral-500);
  width: 50%;
  color: #fff;
  border: 2px solid var(--neutral-400);
  font-weight: var(--fw-bold);
  font-size: 1.5em;
}

.form-tab:hover {
  cursor: pointer;
}

.form-tab .tab-icon {
  color: #e0e0e0;
  margin-left: .25em;
}

/* TABLE styles */
.table-wrapper {
  overflow-x: auto;
}

table  {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: 4px;
}

td input,
td textarea {
  max-width: 100%;
}

textarea {
  resize: none;
}

.work-description {
  display: flex;
  align-items: center;
  gap: 1em;
}

th,td {
  width: auto;
  padding: 20px;
  overflow: hidden;
}

tbody tr:nth-child(odd) {
  background-color: #fff;

  .table-btn .btn-icon {
      color: var(--neutral-400);
    }
}

tbody tr:nth-child(even) {
  background-color: var(--neutral-500);
  color: #fff;
    .table-btn .btn-icon {
        color: #fff;
      }
}

td {
  border: 2px solid black;
}

tr td:last-child,
tr th:last-child
{
  width: 10%;
}

tr td:last-child button {
  margin-right: 1em;
}

thead {
  background-color: var(--neutral-200);
  text-align: center;
  color: #fff;
  font-weight: var(--fw-xbold);
}

.table-btn {
  background-color: inherit;
  border: none;
  transition: scale .2s ease-in-out;
}

.table-accept {
  color: green;
}

.table-cancel {
  color: red;
}



.table-btn:hover {
  scale: 1.2;
  cursor: pointer;
}



.add-btn {
  min-width: 50%;
  max-height: 35px;
  font-weight: var(--fw-xbold);
  padding: .35em;
  grid-column-start: 2;
  justify-self: end;
  color: #fff;
  background-color: var(--neutral-500);
}

.add-btn:hover {
  cursor: pointer;
  border-color: var(--neutral-300);
  background-color: var(--neutral-450);
}


.btn {
  border: 2px solid var(--neutral-400);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.create-pdf-btn {
  position: relative;
  margin: auto;
  border: none;
  background-color: var(--neutral-400);
  color: #fff;
  font-size: 1.5rem;
  padding: 11px 40px;
  box-shadow: 0 5px 0 #345880;
  -webkit-appearance: button;
  font-weight: 400;
  border-radius: 5px;
}

.create-pdf-btn:hover {
  cursor: pointer;
  top: 2px;
  box-shadow: 0 3px 0 #345880;
}

.create-pdf-btn:active {
  top: 5px;
  outline: 0;
  box-shadow: none;
}

h1 {
  font-size: 2em;
  color: var(--bg-color);
  font-weight: var(--fw-xbold);
}

@media screen and (max-width: 950px) {
  .form-wrapper form{
    grid-template-columns: 1fr;
  }
  .main-content {
    margin-right: 2em;
  }
}