@font-face{
  font-family: "TTRegular";
  src: local("TTRegular"),
  url("./fonts/TT/OldStandardTT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TTBold";
  src: local("TTBold"),
    url("./fonts/TT/OldStandardTT-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "CantarellRegular";
  src: local("CantarellRegular"),
  url("./fonts/Cantarell/Cantarell-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CantarellBold";
  src: local("CantarellBold"),
    url("./fonts/Cantarell/Cantarell-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
  url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root{
  --header-bg: #ebedf1;

  --c-black-1: rgb(30, 37, 50);

  --c-gray-1: rgb(130, 139, 162);
  --c-gray-2: rgb(239, 242, 249);
  --c-gray-3: rgba(234, 246, 255, 0.5);

  --c-blue-1: rgb(26, 145, 240);

  --footer-bg: #0f141e;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* Get rid of all font sizes and heights */
}

html {
  /* Default dark */
  hanging-punctuation: first last;
  /* Not supported in Chrome */
}

body {
  min-height: 100vh;
  font-family: "TTRegular","RobotoRegular","CantarellRegular",sans-serif;
  font-size: 19px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
  /* Prevents orphans on lines */
}

button {
  justify-self: center;
  align-self: center;
}

input {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 95%;
}

label{
  color: var(--c-gray-1);
  font-size: 15px;
  font-family: "CantarellRegular",sans-serif;
  text-shadow: none;
}

header{
  background-color: #f7f7f7;
}

.page--wrapper{
  width: 95%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr
}

.error__msg{
  color: red;
  font-size: .75rem;
  text-align: left;
}

form,.preview{
  padding: 1.5em;
}

.form--section{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  height: inherit;
  align-content: center;
  margin-bottom: 2em;
}

.form--field{
  display: flex;
  flex-direction: column;
  gap: .25em;
}



.form--field>input,
.form--field>textarea{
  padding: 12px 16px;
  border: none;
  background-color: var(--c-gray-2);
  transition: box-shadow 0.2s ease-in;
  color: var(--c-black-1);
  border-radius: 3px;
  width: 100%;
}
.form--field>textarea{
  resize: none;
}



.form--field>input:focus,.form--field>textarea:focus{
  border: none;
  outline: none;
  box-shadow: 0 2px 0px var(--c-blue-1);
}

.cv--list{
  display: grid;
  grid-column: 1 / -1;
  gap: .25em
}

.list--item--wrapper{
  display: inline-flex;
}

.list--item--wrapper:hover {
  cursor: pointer;
}


.form--btns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.add--item--btn{
  margin-top: 1.25em;
  justify-self: unset;
  text-align: left;
  padding: .5em 1em;
  border-radius: 4px;
  border: none;
  background-color: inherit;
  color: var(--c-blue-1);
  font-weight: 700;
  transition: background-color .15s;
}

.add--item--btn:hover{
  cursor: pointer;
  background-color: var(--c-gray-3);
}



ul{
  list-style-type: none;
}

.row,form>button{
  grid-column: 1 / -1;
}


.preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em 0em;
  height: 100%;
}




@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@media (min-width: 768px){
  .page--wrapper,.form--section {
    grid-template-columns: repeat(2,1fr);
  }


}