@import "tailwindcss";

@font-face{
  font-family: "TTRegular";
  src: local("TTRegular"),
  url("./fonts/TT/OldStandardTT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TTBold";
  src: local("TTBold"),
    url("./fonts/TT/OldStandardTT-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "CantarellRegular";
  src: local("CantarellRegular"),
  url("./fonts/Cantarell/Cantarell-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CantarellBold";
  src: local("CantarellBold"),
    url("./fonts/Cantarell/Cantarell-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face{
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
  url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}


:root{
  --header-bg: #ebedf1;

  --c-black-1: rgb(30, 37, 50);

  --c-gray-1: rgb(130, 139, 162);
  --c-gray-2: rgb(239, 242, 249);
  --c-gray-3: rgba(234, 246, 255, 0.5);
  --c-gray-4: rgb(159, 166, 187);

  --c-blue-1: rgb(26, 145, 240);
  --c-blue-2: #b3d4fc;

  --footer-bg: #0f141e;

}

@theme{
  --color-header-bg: #ebedf1;

  --color-c-black-1: rgb(30, 37, 50);

  --color-c-gray-1: rgb(130, 139, 162);
  --color-c-gray-2: rgb(239, 242, 249);
  --color-c-gray-3: rgba(234, 246, 255, 0.5);
  --color-c-gray-4: rgb(159, 166, 187);
  --color-c-gray-5: #f7f7f7;

  --color-c-blue-1: rgb(26, 145, 240);
  --color-c-blue-2: #b3d4fc;

  --color-c-footer-bg: #0f141e;

  

  --font-Cantarell-Regular: "CantarellRegular",sans-serif;
  --font-TTBold: "TTBold",sans-serif;
  --font-TTRegular: "TTRegular",sans-serif;
  --font-RobotoRegular: "RobotoRegular";
  --font-Roboto-Bold: "RobotoBold", sans-serif;

  --container-8x1: 100rem;

  --font-body: "TTRegular","RobotoRegular","CantarellRegular",sans-serif;
}





.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 95%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}


button {
  justify-self: center;
  align-self: center;
}

ul {
  list-style-type: none;
}

.row,
form>button {
  grid-column: 1 / -1;
}

